/* Background */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1f2933, #111827);
  color: #f9fafb;
}

/* Main container */
#root {
  width: 100%;  
  max-width: 1200;        /* poori screen */
  min-height: 100vh;    /* poori height */
  margin: 25px;            /* koi gap nahi */
  padding: 2rem;

  background: #1f2937;
  text-align: center;
}


/* Headings */
app-header {
  color: #60a5fa;
  margin-bottom: 1rem;
}

h2 {
  color: #a5b4fc;
  margin-top: 2rem;
}

/* Form inputs */
input,
select {
  width: 180px;
  margin: 6px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #374151;
  color: #f9fafb;
  transition: all 0.3s ease;
}

input::placeholder {
  color: #9ca3af;
}

input:focus,
select:focus {
  background: #4b5563;
  box-shadow: 0 0 0 2px #60a5fa;
}

/* Buttons */
button {
  margin-left: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #2563eb;
  transform: translateY(-1px);
}

/* Item list */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #374151;
  margin: 10px 0;
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Delete button */
li button {
  background: #ef4444;
  margin-left: 15px;
}

li button:hover {
  background: #dc2626;
}

/* Small text */
.read-the-docs {
  color: #9ca3af;
}
